.btnLink {
  font-family: "ProximaNovaRegular";
  text-decoration: underline;
  color: #fff;
  transition: ease opacity 0.3s 0s;

  &:hover {
    color: #666;
    opacity: 0.5;
    cursor: pointer;
  }
}
